%p
	%strong Title:
	=@product.title

%p
	%strong Description
	=@product.description

%p
	%strong Image_url
	=@product.image_url

%p
	%strong Price
	%span.price= number_to_currency(product.price)

=link_to 'edit', edit_product_path(@product)
=link_to 'back', products_path
